<div class="row " *ngIf="agence">
    <div class="col-md-3 sideNav">
        <!-- <img [src]="clubLogo" class="ClubLogo"> -->
        <div class="De">
            <div class="Desc">
                this is a club description.
            </div>
        </div>
    </div>
    <div class="col-md-9 ">
        <mat-tab-group>
            <mat-tab label="Comptes" *ngIf="agence.getComptes()">
                <app-compte-element *ngFor="let compte of agence.getComptes()"></app-compte-element>
            </mat-tab>
            <mat-tab label="Clients" *ngIf="agence.getClients()">
                <app-client-element *ngFor="let client of agence.getClients()">
                </app-client-element>
            </mat-tab>
        </mat-tab-group>


    </div>

</div>