<div>
    <h4>
        Matricule:
    </h4>
    <input matInput placeholder="" [(ngModel)]="matricule" class="form-control form-control-lg"
        style="margin-bottom: 10px;">

    <h4>
        Nom:
    </h4>
    <input matInput placeholder="" [(ngModel)]="nom" class="form-control form-control-lg" style="margin-bottom: 10px;">

    <h4>
        Prenom:
    </h4>
    <input matInput placeholder="" [(ngModel)]="prenom" class="form-control form-control-lg"
        style="margin-bottom: 10px;">
    <h4>
        Cin:
    </h4>
    <input matInput placeholder="" [(ngModel)]="cin" class="form-control form-control-lg" style="margin-bottom: 10px;">

</div>