<div>
    <h4>
        Code:
    </h4>
    <input matInput placeholder="" [(ngModel)]="Code" class="form-control form-control-lg" style="margin-bottom: 10px;">

    <h4>
        Decouvert:
    </h4>
    <input matInput placeholder="" [(ngModel)]="decouvert" class="form-control form-control-lg"
        style="margin-bottom: 10px;">

    <h4>
        Proprietaire Id:
    </h4>
    <input matInput placeholder="" [(ngModel)]="proprietaire" class="form-control form-control-lg"
        style="margin-bottom: 10px;">

    <h4>
        Solde Initial:
    </h4>
    <input matInput placeholder="" [(ngModel)]="soldeInitial" class="form-control form-control-lg"
        style="margin-bottom: 10px;">
</div>